body #root{
    overflow: hidden;
    height: 100%;
}

#top {
    width: 80%;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
}
#title {
    text-align: center;
}
#img1 {
    display: block;
    text-align: center;
    margin: auto;
}

#stage1 {
    top: 0;
    width: 80%;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
}
#description {
    text-align: center;
}
#img2 {
    display: block;
    text-align: center;
    margin: auto;
}