* {
    box-sizing: border-box;
}
body #root {
	height: 100%;
}

#top {
	width: 80%;
	/* height: 100%; */
	margin: auto;
	display: flex;
	flex-direction: column;
}

#title {
	text-align: center;
}

#img1 {
	display: block;
	text-align: center;
	margin: auto;
}

#stage1 {
	top: 0;
	width: 80%;
	/* height: 100%; */
	margin: auto;
	display: flex;
	flex-direction: column;
}

.description {
	text-align: center;
}

#img2 {
	display: block;
	text-align: center;
	margin: auto;
}
.card,.front, .back {
    width: 200px;
    height: 300px;
  }
.container {
	margin: auto;
	justify-content: center;
	background-color: #fff;
	display: grid;
	grid-template-columns: 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.card {
	background-color: transparent;
	padding: 20px;
	border-radius: 10px;
	/* color: #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
    font-family: sans-serif;
    /* transition: 0.6s; */
  transform-style: preserve-3d;

  position: relative;
}
.transparent {
    visibility: hidden;
}
.front, .back {
    backface-visibility: hidden;
  
    position: absolute;
    top: 0;
    left: 0;
  }
.front {
	padding: 40px;
	font-size: medium;
    text-align: center;
    transform: rotateY(180deg);
  background-color: lightblue;
}
.back {
    z-index: 2;
    background-image: linear-gradient(to right top, #0060f0, #5059f8, #7b4dfd, #a139fe, #c500fb);;
}

#card1 {
    animation: flip 1s ease 1s forwards;
}

#card2 {
    animation: flip 1s ease 2s forwards;
}

#card3 {
    animation: flip 1s ease 3s forwards;
}

#card4 {
    animation: flip 1s ease 4s forwards;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.anime {
	position: absolute;
	top: 50%;
	left: 0;
	height: 50%;
	width: 100%;
	background-color: transparent;
	z-index: 3;
	transform: rotateY(180deg);
	overflow: hidden;
}
.slide {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translateX(-100%);
}
.slide:nth-child(1){
	background-color: tomato;
	animation: lefter 0.2s ease-in 2s forwards;
}
.slide:nth-child(2){
	background-color: green;
	animation: lefter 0.2s ease-in 2.1s forwards;

}
.slide:nth-child(3){
	background-color: rebeccapurple;
	animation: lefter 0.2s ease-in 2.2s forwards;

}

@keyframes lefter {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}